<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex, nofollow">
	<title>Death and Birth | デスアンドバース</title>
	<link href="css/main.css" rel="stylesheet">
	<link href="css/game.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Stardos+Stencil" rel="stylesheet">
</head>
<body>
	<div class="game-container">

		<!-- Message Fixed -->
		<p
			id="message-fixed"
			:title="msg"
		>{{ msg }}</p>

		<!-- UI -->
		<div id="ui-container">

			<!-- Canvas -->
			<div id="canvas-container">
				<canvas id="canvas-main"></canvas>
			</div>

			<!-- Message Temp-->
			<div id="message-container">
				<div
					v-show="!flag.minimap"
					id="msg-temp-container"
				>
					<ul>
						<li
							v-for="msg in msgs"
						>{{ msg.text + (msg.count > 1 ? ' (x' + msg.count + ')' : '') }}</li>
					</ul>
				</div>
			</div>
			
			<!-- Condition -->
			<div
				v-show="!flag.minimap"
				id="condition-container"
			>
				<ul>
					<li
						v-if="rogue.hunger >= 800"
						v-bind:style="{ color: colorList.lime }"
					>{{ vueList.isEnglish ? 'full' : '満腹'}}</li>
					<li
						v-else-if="rogue.hunger > 0 && rogue.hunger <= 200"
						v-bind:style="{ color: colorList.yellow }"
					>{{ vueList.isEnglish ? 'hungry' : '空腹'}}</li>
					<li
						v-else-if="rogue.hunger === 0"
						v-bind:style="{ color: colorList.red }"
					>{{ vueList.isEnglish ? 'starved' : '飢餓'}}</li>
					<li
						v-if="rogue.poisoned"
						v-bind:style="{ color: colorList.poison }"
					>{{ vueList.isEnglish ? 'poisoned' : '毒'}}</li>
					<li
						v-if="rogue.confused"
						v-bind:style="{ color: colorList.yellow }"
					>{{ vueList.isEnglish ? 'confused' : '混乱'}}</li>
					<li
						v-if="rogue.paralyzed"
						v-bind:style="{ color: colorList.orange }"
					>{{ vueList.isEnglish ? 'paralyzed' : '麻痺'}}</li>
					<li
						v-if="rogue.sleeping > 0"
						v-bind:style="{ color: colorList.royalblue }"
					>{{ vueList.isEnglish ? 'sleeping' : '睡眠'}}</li>
					<li
						v-if="rogue.blinded"
						v-bind:style="{ color: colorList.gray }"
					>{{ vueList.isEnglish ? 'blinded' : '盲目'}}</li>
					<li
						v-if="rogue.infected"
						v-bind:style="{ color: colorList.infection }"
					>{{ vueList.isEnglish ? 'infected' : '感染'}}</li>
					<li
						v-if="rogue.hallucinated"
						v-bind:style="{ color: colorList.purple }"
					>{{ vueList.isEnglish ? 'hallucinated' : '幻覚'}}</li>
					<li
						v-if="rogue.canceled"
						v-bind:style="{ color: colorList.white }"
					>{{ vueList.isEnglish ? 'canceled' : '封印'}}</li>
					<li
						v-if="rogue.seeInvisible"
						v-bind:style="{
							color: colorList.light,
							'text-shadow': '1px 1px 0 ' + colorList.light
						}"
					>{{ vueList.isEnglish ? 'see invisible' : '透視'}}</li>
					<li
						v-if="rogue.invisibility"
						v-bind:style="{
							color: colorList.light,
							'text-shadow': '1px 1px 0 ' + colorList.light
						}"
					>{{ vueList.isEnglish ? 'invisible' : '透明'}}</li>
					<li
						v-if="rogue.ecco"
						v-bind:style="{ color: colorList.air }"
					>{{ vueList.isEnglish ? 'ecco' : 'エコー'}}</li>
					<!-- TODO -->
					<li
						v-if="rogue.enchantSelfDur"
						v-bind:style="{ color: colorList.earth }"
					>{{ vueList.isEnglish ? 'enchant self' : '自己強化'}}</li>
					<li
						v-if="rogue.venomDur"
						v-bind:style="{ color: colorList.poison }"
					>{{ vueList.isEnglish ? 'venom hands' : '猛毒の手'}}</li>
					<li
						v-if="rogue.confusing"
						v-bind:style="{ color: colorList.poison }"
					>{{ vueList.isEnglish ? 'confusing hands' : '混乱の手'}}</li>
				</ul>
			</div>

			<!-- Enemy Bar -->
			<div
				v-show="!flag.minimap"
				id="enemy-bar-container"
			>
				<div 
					v-if="enemy"
					class="enemy-bar-box"
				>
					<p
						v-bind:class="{ 
							'unique-color': enemy.stroke,
						}"
						v-bind:style="{ 
							color: enemy.cursed ? colorList.red : '',
							'text-shadow': enemy.shadow ? '1px 1px 0 ' + enemy.shadow : ''
						}"
					>{{ 'Lv' + enemy.lvl + ' ' + name }}</p>
					<div class="enemy-bar">
						<span 
							class="hp"
							v-bind:style="{ 
								width: (enemy.hp < 0 ? 0 : enemy.hp / enemy.hpMax * 100) + '%',
								'background-color': (
									enemy.sleeping ? colorList.royalblue :
									enemy.paralyzed ? colorList.orange :
									enemy.confused ? colorList.yellow :
									enemy.blinded ? colorList.gray :
									enemy.hallucinated ? colorList.purple :
									enemy.canceled ? colorList.white :
									enemy.infected ? colorList.infection :
									enemy.poisoned ? colorList.poison :
									''
								)
							}"
						></span>
					</div>
				</div>
				<span
					v-if="rogue.ce"
					class="enemy-icon"
					v-bind:class="{ 
						'unique-color': rogue.ce.stroke,
					}"
					v-bind:style="{ 
						color: rogue.ce.color,
						'text-shadow': rogue.ce.shadow ? '1px 1px 0 ' + rogue.ce.shadow : ''
					}"
				>{{ rogue.ce.symbol }}</span>
			</div>

			<!-- Menu -->
			<div id="menu-container">

				<!-- Inventory Right -->
				<inventory
					id="inventory-right"
					class="right"
					:inv="inv"
				></inventory>

				<!-- Inventory Left -->
				<inventory
					id="inventory-left"
					class="left"
					:inv="inv"
				></inventory>

				<!-- Stats -->
				<inventory
					id="stats" 
					class="left"
					:inv="inv"
				></inventory>

				<!-- Recipe -->
				<div
					v-show="inv.show"
					id="recipe" 
					class="inventory middle"
				>
					<ul class="item-list">
						<li v-for="item in inv.items">
							<ul class="item-prop-list">
								<li class="item-name">{{ item.name }}</li>
								<li class="item-cost">{{ item.cost }}</li>
								<li class="item-recipe">{{ item.recipe }}</li>
							</ul>
						</li>
					</ul>
				</div>

				<!-- Equipment -->
				<equipment
					id="equipment"
					:inv="inv"
				></equipment>

				<!-- Skill Right -->
				<skill
					id="skill"
					class="right"
					:inv="inv"
				></skill>

				<!-- Bookmark -->
				<skill
					id="bookmark"
					class="left"
					:inv="inv"
				></skill>

				<!-- Message List -->
				<div
					v-show="flag.message"
					id="message-list-container"
					class="inventory middle"
				>
					<ul id="message-prev-list"
						class="message-list"
					>
						<li v-for="msg in message.list">{{ msg.text + (msg.count > 1 ? ` (x${msg.count})` : '') }}</li>
					</ul>
					<inv-bottom
						:left="message.total"
					></inv-bottom>
				</div>

				<!-- Help -->
				<help
					v-show="flag.help"
					id="help"
					:help="help"
					:rogue="rogue"
					:vue-list="vueList"
				></help>

				<!-- Investigation Item -->
				<div
					v-show="inv.show"
					id="investigation-item"
					class="inventory investigation"
				>
					<ul class="item-prop-list">
						<item-symbol :item="inv.obj"></item-symbol>
						<item-name :item="inv.obj"></item-name>
					</ul>
					<p class="description">{{ inv.desc }}</p>
					<ul class="base-prop-list">
						<li v-for="prop in inv.basePropList">
							<ul
								class="base-prop"
								:style="{ 
									'text-shadow': prop && prop.shadow ? '1px 1px 0 ' + prop.shadow : ''
								}"
							>
								<li>{{ prop.text }}</li>
								<li>{{ prop.value }}</li>
							</ul>
						</li>
					</ul>
					<ul class="embedded-list">
						<li v-for="item in inv.embeddedList">
							<ul class="embedded-prop">
								<item-symbol :item="item"></item-symbol>
								<item-name :item="item"></item-name>
							</ul>
						</li>
					</ul>
					<ul class="mod-prop-list">
						<li v-for="prop in inv.modPropList">
							<ul class="mod-prop buff">
								<li>{{ prop.text }}</li>
								<li>{{ prop.value }}</li>
							</ul>
						</li>
					</ul>
					<ul class="mod-parts-list">
						<li v-for="(props, key) in inv.modPartsList">
							<ul class="mod-parts-prop-list">
								<li class="mod-parts">{{ key }}</li>
								<li>
									<ul
										v-for="prop in props"
										class="mod-prop buff"
									>
										<li>{{ prop.text }}</li>
										<li>{{ prop.value }}</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>

				<!-- Investigation Fighter -->
				<div
					v-show="inv.show"
					id="investigation-fighter"
					class="inventory investigation"
				>
					<ul class="item-prop-list">
						<item-symbol :item="inv.obj"></item-symbol>
						<item-name :item="inv.obj"></item-name>
					</ul>
					<p class="description">{{ inv.desc }}</p>
					<ul
						id="fighter-prop-list"
						class="base-prop-list"
					>
						<li v-for="prop in inv.basePropList">
							<ul
								class="base-prop"
								:style="{ 
									'text-shadow': prop && prop.shadow ? '1px 1px 0 ' + prop.shadow : ''
								}"
							>
								<li>{{ prop.text }}</li>
								<li>{{ prop.value }}</li>
							</ul>
						</li>
					</ul>
				</div>

				<!-- Investigation Skill -->
				<div
					v-show="inv.show"
					id="investigation-skill"
					class="inventory investigation"
				>
					<ul class="item-prop-list">
						<item-symbol :item="inv.obj"></item-symbol>
						<item-name :item="inv.obj"></item-name>
					</ul>
					<p class="description">{{ inv.desc }}</p>
					<ul class="base-prop-list">
						<li v-for="prop in inv.basePropList">
							<ul
								class="base-prop"
								:style="{ 
									'text-shadow': prop && prop.shadow ? '1px 1px 0 ' + prop.shadow : ''
								}"
							>
								<li>{{ prop.text }}</li>
								<li>{{ prop.value }}</li>
							</ul>
						</li>
					</ul>
				</div>

			</div>
		</div>

		<!-- Stats Fixed -->
		<div id="stats-fixed-container">
			<div class="stats-fixed-left-container">
				<div class="stats-fixed-bar">
					<span 
						class="hp"
						v-bind:style="{ 
							width: (rogue.hp < 0 ? 0 : rogue.hp / rogue.hpMax * 100) + '%',
							'background-color': (
								rogue.sleeping ? colorList.royalblue :
								rogue.paralyzed ? colorList.orange :
								rogue.confused ? colorList.yellow :
								rogue.blinded ? colorList.gray :
								rogue.hallucinated ? colorList.purple :
								rogue.canceled ? colorList.white :
								rogue.infected ? colorList.infection :
								rogue.poisoned ? colorList.poison :
								''
							)
						}"
					></span>
				</div>
				<div class="stats-fixed-box">
					<ul class="stats-fixed-list-top">
						<li
							v-bind:style="{ color: rogue.lvl < rogue.lvlMax ? colorList.yellow : '' }"
						>{{ (vueList.isEnglish ? 'Level ' : 'レベル ') + rogue.lvl }}</li>
						<li
							v-bind:class="{ 
								buff: rogue.expBuff,
							}"

							v-bind:style="{
								color: rogue.exp < rogue.expMax ? colorList.yellow : '',
							}"
						>{{ (vueList.isEnglish ? 'Exp ' : '経験値 ') + rogue.exp }}</li>
						<li>{{ '$ ' + rogue.purse }}</li>
						<li
							v-bind:style="{
								color: rogue.hp <= 0 ? colorList.red : '',
							}"
						>{{ 'HP '+ rogue.hp + '/' + rogue.hpMax }}</li>
					</ul>
					<ul class="stats-fixed-list-bottom">
						<li 
							class="rogue-boxes-list"
							v-for="(item, key) in rogue.boxes"
						>
							<span
								v-bind:class="{ 
									'unique-color': item && item.stroke,
								}"

								v-bind:style="{ 
									color: item ? item && item.color : '',
									'text-shadow': item && item.shadow ? '1px 1px 0 ' + item.shadow : ''
								}"
							>{{ item ? item.symbol : key }}</span>
							<span 
								class="item-num"
								v-if="item"
							>{{ item.quantity }}</span>
							<span 
								class="item-charge"
								v-if="item && item.identified && isFinite(item.charges)"
							>{{ item.charges}}</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="stats-fixed-right-container">
				<div class="stats-fixed-bar">
					<span class="mp"
						v-bind:style="{ 
							width: (rogue.mp < 0 ? 0 : rogue.mp / rogue.mpMax * 100) + '%'
						}"
					></span>
				</div>
				<div class="stats-fixed-box">
					<ul class="stats-fixed-list-top">
						<li
							v-bind:style="{
								color: rogue.mp <= 0 ? colorList.red : '',
							}"
						>{{ 'MP '+ rogue.mp + '/' + rogue.mpMax }}</li>
						<li
							v-bind:class="{ 
								sustain: rogue.strSus
							}"

							v-bind:style="{
								color: rogue.str < rogue.strMax ? colorList.yellow : '',
							}"
						>{{ (vueList.isEnglish ? 'Str ' : '筋 ') + rogue.str }}</li>
						<li
							v-bind:class="{ 
								sustain: rogue.dexSus
							}"

							v-bind:style="{
								color: rogue.dex < rogue.dexMax ? colorList.yellow : '',
							}"
						>{{ (vueList.isEnglish ? 'Dex ' : '器 ') + rogue.dex }}</li>
						<li
							v-bind:class="{ 
								sustain: rogue.conSus
							}"

							v-bind:style="{
								color: rogue.con < rogue.conMax ? colorList.yellow : '',
							}"
						>{{ (vueList.isEnglish ? 'Con ' : '耐 ') + rogue.con }}</li>
						<li
							v-bind:class="{ 
								sustain: rogue.intSus
							}"

							v-bind:style="{
								color: rogue.int < rogue.intMax ? colorList.yellow : '',
							}"
						>{{ (vueList.isEnglish ? 'Int ' : '知 ') + rogue.int }}</li>
						<li
							v-bind:class="{ 
								buff: rogue.speeded
							}"

							v-bind:style="{
								color: rogue.slowed ? colorList.red : '',
							}"
						>{{ (vueList.isEnglish ? 'Spd ' : '速 ') + rogue.spd }}</li>
					</ul>
					<div class="stats-fixed-list-bottom">
						<span v-if="!rogue.cdl">{{ vueList.isEnglish ? 'Limbo' : '辺獄' }}</span>
						<span v-else-if="rogue.cdl >= 1 && rogue.cdl <= 33">{{ (vueList.isEnglish ? 'Hell B' : '地獄 地下') + rogue.cdl }}</span>
						<span v-else-if="rogue.cdl >= 34 && rogue.cdl <= 66">{{ (vueList.isEnglish ? 'Purgatory ' : '煉獄') + (rogue.cdl - 33) }}</span>
						<span v-else-if="rogue.cdl >= 67 && rogue.cdl <= 99">{{ (vueList.isEnglish ? 'Heaven ' : '天国') + (rogue.cdl - 66) }}</span>
					</div>
				</div>
			</div>
		</div>

		<!-- Game Loader -->
		<div
			id="game-loader"
			v-show="flag.title || flag.retry || flag.failed"
		>
			<div
				id="title"
				class="title"
				v-show="flag.title || flag.failed"
				v-cloak
			>
				<p
					class="err-msg"
					v-show="flag.failed"
				>
					{{ (vueList.isEnglish ?
					"Failed to load. In order to delete your save data and continue, please push 'Y'" :
					"読み込みに失敗しました。セーブデータを消去してゲームを続けるには、'Y'を押してください。")
					+ ` (data ver ${verData.toFixed(3)})` }}
				</p>
				<div class="msg-box">
					<h1>Death and Birth</h1>
					<h2>{{ vueList.isEnglish ?
						'[Enter] to start' :
						'[Enter] ゲームスタート' }}
					</h2>
				</div>
				<small class="ver">{{ `ver ${ver.toFixed(3)}` }}</small>
			</div>
			<div
				class="retry"
				v-show="flag.retry"
				v-cloak
			>
				<div class="msg-box">
					<h1>G A M E  O V E R</h1>
					<h2>{{ vueList.isEnglish ?
						'[Enter] to retry' :
						'[Enter] リトライ' }}
					</h2>
				</div>
			</div>
		</div>

	</div>

		<!--
		<article>
			<button id="site-command-btn">コマンド一覧</button>
			<button id="site-recipe-btn">レシピ一覧</button>
			<div id="site-command-container" style="display: none">
				<ul>
					<li><span>方向キー</span><span>移動</span></li>
					<li><span>h</span><span>左移動</span></li>
					<li><span>j</span><span>下移動</span></li>
					<li><span>k</span><span>上移動</span></li>
					<li><span>l</span><span>右移動</span></li>
					<li><span>y</span><span>左上移動</span></li>
					<li><span>b</span><span>左下移動</span></li>
					<li><span>u</span><span>右上移動</span></li>
					<li><span>n</span><span>右下移動</span></li>
					<li><span>i</span><span>持物一覧</span></li>
					<li><span>e</span><span>装備一覧</span></li>
					<li><span>w</span><span>装備する</span></li>
					<li><span>T</span><span>装備を外す</span></li>
					<li><span>g</span><span>アイテムを拾う</span></li>
					<li><span>d</span><span>アイテムを落とす</span></li>
					<li><span>o</span><span>ドアを開ける</span></li>
					<li><span>c</span><span>ドアを閉める</span></li>
					<li><span>s</span><span>捜索する</span></li>
					<li><span>r</span><span>巻物を読む</span></li>
					<li><span>q</span><span>薬を飲む</span></li>
					<li><span>z</span><span>魔法棒を振る</span></li>
					<li><span>p</span><span>アイテムを詰める</span></li>
					<li><span>E</span><span>食事する</span></li>
					<li><span>Q</span><span>ゲームを放棄する</span></li>
					<li><span>Esc</span><span>取り消す</span></li>
					<li><span>x</span><span>探査する</span></li>
					<li><span>a</span><span>しおりを挟む</span></li>
					<li><span>G</span><span>スキル/能力値を得る</span></li>
					<li><span>f</span><span>射る</span></li>
					<li><span>t</span><span>アイテムを投げる</span></li>
					<li><span>S</span><span>装備を持ち替える</span></li>
					<li><span>C</span><span>キャラ詳細</span></li>
					<li><span>F</span><span>補給する</span></li>
					<li><span>R</span><span>休む</span></li>
					<li><span>A</span><span>錬金術</span></li>
					<li><span>1-9</span><span>アイテムを使う</span></li>
					<li><span>F1-F12</span><span>スキルを使う</span></li>
					<li><span>Alt+方向</span><span>その場で攻撃する/掘る</span></li>
					<li><span>Shift+方向</span><span>走る</span></li>
					<li><span>.</span><span>踏む</span></li>
					<li><span>&gt;</span><span>階段を降りる</span></li>
					<li><span>&lt;</span><span>階段を昇る</span></li>
					<li><span>=</span><span>オプション</span></li>
					<li><span>?</span><span>コマンドを表示</span></li>
					<li><span>Ctrl+p</span><span>メッセージ履歴</span></li>
					<li><span>Ctrl+r</span><span>再描写</span></li>
					<li><span>Ctrl+m</span><span>消音</span></li>
					<li><span>Ctrl+s</span><span>記録する</span></li>
					<li><span>Ctrl+d</span><span>アイテムを破壊する</span></li>
					<li><span>Ctrl+x</span><span>記録して終了する</span></li>
					<li><span>Ctrl+v</span><span>ゲームのバージョン</span></li>
				</ul>
			</div>
			<div id="site-recipe-container" style="display: none">
				<ul>
					<li><span>名称</span><span>MP(毎)</span><span>レシピ</span></li>
					<li><span>錬金</span><span>5</span><span>ジュエル [1-4] -> 硬貨</span></li>
					<li><span>松明</span><span>1</span><span>松明 [2-4] -> 松明 [期間 計]</span></li>
					<li><span>ランプ</span><span>1</span><span>ランプまたはランタン + オイル [2-4] -> ランプまたはランタン [期間 計]</span></li>
					<li><span>埋め込み</span><span>5</span><span>埋め込み可能な装備品 + 同素材・ジュエル・オーブ -> 装備品 [素材・ジュエル・オーブ]</span></li>
					<li><span>取り外し</span><span>1</span><span>装備品 [素材・ジュエル・オーブ] -> 埋め込み可能な装備品 + 同素材・ジュエル・オーブ</span></li>
					<li><span>魔法棒</span><span>1</span><span>魔法棒 [2-4] -> 魔法棒 [充填 計]</span></li>
					<li><span>充填書</span><span>1</span><span>充填書 + 巻物 -> 充填書 [充填 計]</span></li>
					<li><span>特大回復</span><span>10</span><span>回復の薬 [3] -> 特大回復の薬</span></li>
					<li><span>拡張</span><span>30</span><span>ノーマルの埋め込み不可な装備品 + ジュエル + オーブ -> 埋め込み可能な装備品</span></li>
					<li><span>素材化</span><span>50</span><span>マジックまたはレアの埋め込み不可な装備品 + ジュエル + オーブ + 同素材 -> 素材</span></li>
				</ul>
			</div>
			<h2>攻撃</h2>
			<ul>
				<li>敵に対して方向キーを押すとそれが攻撃動作となります。</li>
				<li>敵を攻撃するとその敵を標的とし右下に枠が表示されます。</li>
				<li>'x'コマンドでその敵にカーソルを合わせ、't'を押すことでも標的となり、'r'を押すと標的を解除します。</li>
			</ul>
			<h2>ダイス</h2>
			<ul>
				<li>武器やスキルに'2d6'などの表示がありますが、これは1から6まで書かれた6面のダイスを2個振るという操作の略記です。</li>
				<li>攻撃する毎にこの操作を行い、その出目の合計値を、与えるダメージの基礎値として決定しています。</li>
				<li>Avg(average)の表記はこの操作の期待値です。</li>
			</ul>
			<h2>アイテム</h2>
			<ul>
				<li>'p'コマンドより、画面下部に表示される枠に詰めたアイテムは、その枠に対応する数字を押すことで使用します。</li>
				<li>この時、詰めたアイテムが矢弾で、それに対応する射出武器を装備していれば、標的とした敵を攻撃し、標的が設定されていなければ自動で近くの敵に対して攻撃します。</li>
			</ul>
			<h2>スキル</h2>
			<ul>
				<li>スキルポイントを消費して魔法書から取得し、そのスキルが書かれた魔法書を所持していることで使用できます。</li>
				<li>'a'コマンドより設定したスキルは、その対応するキー(F1-F12)を押すことで使用します。</li>
				<li>メインに設定したスキルは、'alt'を押しながら方向キーを押すことで、その方向に対してスキルを使用します。</li>
			</ul>
			<h2>射出武器</h2>
			<ul>
				<li>スキルと同様に、射出武器を装備していれば、'alt'を押しながら方向キーを押すことで、その方向に対して矢弾を発射します。</li>
				<li>メインにスキルが設定されてあれば、スキルの使用が優先されます。</li>
			</ul>
			<h2>錬金術</h2>
			<ul>
				<li><s>レシピを所持していることでアイテム合成ができます。</s></li>
				<li><s>合成の種類は'I'コマンドからレシピを選択することで一覧が確認できます。</s></li>
				<li>v0.009より各レシピを個別のアイテムとし、入手した際にそれを読み上げる事で、アイテム合成が可能となります。</li>
				<li>また、合成時にはレシピに対応したMPを消費します。</li>
				<li>取得したレシピの一覧は、'A'による合成選択中に'Ctrl + r'と押すことで確認出来ます。</li>
			</ul>
			<h2>充填書</h2>
			<ul>
				<li>白紙の充填書に巻物を1種類合成すると、その巻物に対応した充填書が作成されます。</li>
				<li>巻物と同じように使用でき、その毎に充填数を消費します。</li>
				<li>対応する充填書と巻物、または充填書同士を合成することで充填数が増加しますが、重量が増えるなどのペナルティはありません。</li>
			</ul>
			<h2>素材</h2>
			<ul>
				<li>名前に修飾詞のついた敵を倒すと、その敵に対応した素材を落とすことがあります。</li>
				<li>装備品に埋め込み数の空きがあり、同じ種類の素材であれば埋め込むことができます。</li>
			</ul>
			<h2><s>宝石</s><small style="color: yellow"> 宝石の代わりにジュエルを導入しました。（v0.006）</small></h2>
			<ul>
				<li>素材とは違い、空きがあれば、どんな装備品にも埋め込めます。</li>
			</ul>
			<h2>エラー</h2>
			<ul>
				<li>ゲーム内でエラーが発生すると、それ以後はデータが記録されません。</li>
				<li>ブラウザを再読み込みすると、自動記録や'ctrl+s'で記録したデータまで巻き戻ります。</li>
				<li>このゲームのバージョン更新時に、お使いのブラウザで頻繁にエラーが発生する場合、キャッシュやクッキー等のサイトデータを消去すると、解消される場合があります。</li>
			</ul>
		</article>
		<article>
			<h1>Death and Birth</h1>
			<p>ジャンル:&ensp;PCブラウザゲーム・ローグライク</p>
			<p>対応ブラウザ:&ensp;<a href="https://www.google.co.jp/chrome" target="_blank">Chrome 最新版</a></p>
			<p>ソースコード:&ensp;<a href="https://github.com/deathandbirth/deathandbirth.github.io" target="_blank">Github</a></p>
			<p>BGM・SE:&ensp;<a href="https://ringil-music.com" target="_blank">Ringil</a></p>
			<p>更新内容:&ensp;<a href="https://ringil-blog.info/" target="_blank">Blog</a></p>
		</article>
		<small>※ブラウザ読み込み時にタイトル曲を再生しないようにしました。（v0.009）</small>
	<footer><p>(c) Death and Birth 2018</p></footer>
	-->
	
	<!-- <script src="site.js"></script> -->

	<!-- 開発バージョン-->
	<script src="vendor/js/vue.js"></script>

	<script src="scripts/constants.js"></script>
	<script src="scripts/color.js"></script>
	<script src="scripts/display.js"></script>
	<script src="scripts/option.js"></script>
	<script src="scripts/utility.js"></script>
	<script src="scripts/thing.js"></script>
	<script src="scripts/entrance.js"></script>
	<script src="scripts/message.js"></script>
	<script src="scripts/skill.js"></script>
	<script src="scripts/investigation.js"></script>
	<script src="scripts/data.js"></script>
	<script src="scripts/audio.js"></script>
	<script src="scripts/pathfinding.js"></script>
	<script src="scripts/map.js"></script>
	<script src="scripts/queue.js"></script>
	<script src="scripts/location.js"></script>
	<script src="scripts/portal.js"></script>
	<script src="scripts/trap.js"></script>
	<script src="scripts/staircase.js"></script>
	<script src="scripts/dungeon.js"></script>
	<script src="scripts/town.js"></script>
	<script src="scripts/inventory.js"></script>
	<script src="scripts/material.js"></script>
	<script src="scripts/item.js"></script>
	<script src="scripts/fighter.js"></script>
	<script src="scripts/rogue.js"></script>
	<script src="scripts/enemy.js"></script>
	<script src="scripts/creation.js"></script>
	<script src="scripts/game.js"></script>
	<script src="scripts/help.js"></script>
	<script src="scripts/input.js"></script>
	<script src="scripts/vueFunk.js"></script>
	<script src="scripts/load.js"></script>
</body>
</html>
